{% extends 'base.html' %} {% load static %} {% block content %}
<div class="bg-white">
  <div class="pt-6">
    <nav class="flex" aria-label="Breadcrumb">
      <ol
        class="md:space-x-3 sm:px-6 lg:max-w-7xl lg:px-8 inline-flex items-center max-w-2xl px-4 space-x-1">
        <li class="inline-flex items-center">
          <a
            href="{% url 'home' %}"
            class="hover:text-primary-color dark:text-gray-400 dark:hover:text-white inline-flex items-center text-sm font-medium text-gray-700">
            <svg
              aria-hidden="true"
              class="w-4 h-4 mr-2"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
            </svg>
            Home
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              aria-hidden="true"
              class="w-6 h-6 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <a
              href="{% url 'store' %}"
              class="hover:text-primary-color md:ml-2 dark:text-gray-400 dark:hover:text-white ml-1 text-sm font-medium text-gray-700"
              >Category</a
            >
          </div>
        </li>
        <li aria-current="page">
          <div class="flex items-center">
            <svg
              aria-hidden="true"
              class="w-6 h-6 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span
              class="md:ml-2 dark:text-gray-400 text-ellipsis ml-1 overflow-hidden text-sm font-medium text-gray-500 truncate w-[150px] sm:w-full"
              >{{ single_product.product_name }}</span
            >
          </div>
        </li>
      </ol>
    </nav>

    <!-- Image gallery -->
    <section class="body-font overflow-hidden text-gray-600">
      <div class="px-4 py-6 mx-auto">
        <div class="lg:w-4/5 flex flex-wrap justify-center mx-auto">
          <img alt="ecommerce" class="md:w-1/2 md:h-auto object-cover object-center w-full h-[350px] sm:h-[450px] rounded" src="{{ single_product.images.url }}">
          <form class="lg:w-1/2 lg:pl-10 lg:py-6 lg:mt-0 w-full mt-6" action="{% url 'add_cart' single_product.id %}" method="POST">
            {% csrf_token %}
            <h2 class="title-font text-sm tracking-widest text-gray-500">{{category.category_name}}</h2>
            <h1 class="title-font mb-1 text-3xl font-medium text-gray-900">{{ single_product.product_name}}</h1>

            <p class="leading-relaxed">{{ single_product.description}}</p>
            <div class="flex items-center pb-5 mt-6 mb-5 border-b-2 border-gray-100">
              {% comment %} <div class="flex">
                <span class="mr-3">Color</span>
                <button class= w-6 h-6 border-2 border-gray-300 rounded-full"></button>
                <button class= w-6 h-6 ml-1 bg-gray-700 border-2 border-gray-300 rounded-full"></button>
                <button class= w-6 h-6 ml-1 bg-yellow-500 border-2 border-gray-300 rounded-full"></button>
              </div>
              <div class="flex items-center ml-6">
                <span class="mr-3">Size</span>
                <div class="relative">
                  <select class= focus:ring-2 focus:ring-yellow-200 focus:border-yellow-500 py-2 pl-3 pr-10 text-base border border-gray-300 rounded appearance-none">
                    <option>SM</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                  </select>
                  <span class="absolute top-0 right-0 flex items-center justify-center w-10 h-full text-center text-gray-600 pointer-events-none">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </div>
              </div> {% endcomment %}
            </div>
            <div class="sm:flex-row sm:justify-between sm:items-center flex flex-col gap-4">
              <span class="title-font text-2xl font-medium text-gray-900">{{ single_product.price}} VND</span>
              {% if single_product.stock > 0 %} {% if in_cart %}
              <button
                type="submit"
                class="text-white bg-primary-color hover:bg-primary-hover-color focus:ring-4 focus:outline-none focus:ring-primary-color font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-color dark:hover:bg-primary-color dark:focus:ring-primary-hover-color">
                Xem trong giỏ hàng
              </button>
              {% else %}
              <button
                type="submit"
                class="text-white bg-primary-color hover:bg-primary-hover-color focus:ring-4 focus:outline-none focus:ring-primary-color font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-color dark:hover:bg-primary-color dark:focus:ring-primary-hover-color" >
                Thêm vào giỏ hàng
              </button>
              {% endif %} {% else %}
              <button
                type="submit"
                class=" hover:bg-primary-hover-color focus:ring-2 focus:ring-offset-2 bg-primary-color flex items-center justify-center px-4 py-2 ml-auto text-base font-medium text-white border border-transparent rounded-md opacity-75 cursor-not-allowed">
                Hết hàng
              </button>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </section>
    {% comment %} <form class="mt-10"  action="{% url 'add_cart' single_product.id %}" method="POST">
      {% csrf_token %}
    <!-- Product info -->
    <div
      class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
        <div class="lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6 py-4">
          <h1 class="sm:text-3xl text-2xl font-bold tracking-tight text-gray-900">
            {{ single_product.product_name }}
          </h1>
        <!-- Description and details -->
          <div class="mt-16 space-y-6">
            <p class="text-base text-gray-900">
              {{ single_product.description }}
            </p>
          </div>
      </div>

      <!-- Options -->
      <div class="lg:row-span-3 lg:mt-0 mt-4">
        <h2 class="sr-only">Product information</h2>
        <p class="text-3xl tracking-tight text-gray-900">{{ single_product.price}} VND</p>

        {% comment %} <!-- Reviews -->
        <div class="mt-6">
          <h3 class="sr-only">Reviews</h3>
          <div class="flex items-center">
            <div class="flex items-center">
              <!-- Active: "text-gray-900", Default: "text-gray-200" -->
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-900"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-900"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-900"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-900"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-200"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <p class="sr-only">4 out of 5 stars</p>
            <a href="#" class="hover:text-indigo-500 text-primary-color ml-3 text-sm font-medium"
              >117 reviews</a
            >
          </div>
        </div>


          {% if single_product.stock > 0 %} {% if in_cart %}
          <button
            type="submit"
            class="text-white bg-primary-color hover:bg-primary-hover-color focus:ring-4 focus:outline-none focus:ring-primary-color font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-color dark:hover:bg-primary-color dark:focus:ring-primary-hover-color">
            Xem trong giỏ hàng
          </button>
          {% else %}
          <button
            type="submit"
            class="text-white bg-primary-color hover:bg-primary-hover-color focus:ring-4 focus:outline-none focus:ring-primary-color font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-color dark:hover:bg-primary-color dark:focus:ring-primary-hover-color" >
            Thêm vào giỏ hàng
          </button>
          {% endif %} {% else %}
          <button
            type="submit"
            class="text-white bg-primary-color hover:bg-primary-hover-color focus:ring-4 focus:outline-none focus:ring-primary-color font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-color dark:hover:bg-primary-color dark:focus:ring-primary-hover-color opacity-75 cursor-not-allowed">
            Hết hàng
          </button>
          {% endif %}

        </form> {% endcomment %}
      </div>


    </div>
  </div>
</div>
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    <br />
    <div class="row">
      <div class="col-md-9">
        <form action="{% url 'submit_review' single_product.id %}" method="POST">
          {% csrf_token %}
          <h5>Hãy viết cảm nghĩ của bạn</h5>
          <div>
            {% include "includes/alerts.html" %}
            <label>Đánh giá?</label>
            <br />
            <div class="rate">
              <input type="radio" name="rating" id="rating10" value="5" required /><label
                for="rating10"
                title="5"></label>
              <input type="radio" name="rating" id="rating9" value="4.5" required /><label
                for="rating9"
                title="4.5"
                class="half"></label>
              <input type="radio" name="rating" id="rating8" value="4" required /><label
                for="rating8"
                title="4"></label>
              <input type="radio" name="rating" id="rating7" value="3.5" required /><label
                for="rating7"
                title="3.5"
                class="half"></label>
              <input type="radio" name="rating" id="rating6" value="3" required /><label
                for="rating6"
                title="3"></label>
              <input type="radio" name="rating" id="rating5" value="2.5" required /><label
                for="rating5"
                title="2.5"
                class="half"></label>
              <input type="radio" name="rating" id="rating4" value="2" required /><label
                for="rating4"
                title="2"></label>
              <input type="radio" name="rating" id="rating3" value="1.5" required /><label
                for="rating3"
                title="1.5"
                class="half"></label>
              <input type="radio" name="rating" id="rating2" value="1" required /><label
                for="rating2"
                title="1"></label>
              <input type="radio" name="rating" id="rating1" value="0.5" required /><label
                for="rating1"
                title="0.5"
                class="half"></label>
            </div>
            <br />
            Tiêu đề đánh giá:
            <input type="text" class="form-control" name="subject" />
            <br />
            Nội dung đanh giá
            <textarea name="review" rows="4" class="form-control"></textarea>
            <br />
            {% if user.is_authenticated %} {% if orderproduct %}
            <button type="submit" value="Submit Review" class="btn btn-primary">
              Gửi đánh giá
            </button>
            {% else %}
            <p>Bạn phải mua sản phầm này mới có thể đánh giá.</p>
            {% endif %} {% else %}
            <p>
              Bạn phải đăng nhập mới có thể đánh giá.
              <span><a href="{% url 'login' %}">Đăng nhập</a></span>
            </p>
            {% endif %}
          </div>
        </form>
        <br />
        <header class="section-heading">
          <h3>Đánh giá của khách hàng khác</h3>
        </header>
        {% for review in reviews %}
        <article class="box mb-3">
          <div class="icontext w-100">
            <div class="text">
              <span class="date text-muted float-md-right"
                >{{review.updated_at.time}} ngày {{review.updated_at.day}} tháng
                {{review.updated_at.month}} năm {{review.updated_at.year}}</span
              >
              <h6 class="mb-1">{{ review.user.full_name }}</h6>
              <div class="rating-star">
                <span>
                  <i
                    class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                    aria-hidden="true"></i>
                  <i
                    class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                    aria-hidden="true"></i>
                  <i
                    class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                    aria-hidden="true"></i>
                  <i
                    class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                    aria-hidden="true"></i>
                  <i
                    class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                    aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <!-- icontext.// -->
          <div class="mt-3">
            <h6>{{ review.subject }}</h6>
            <p>{{ review.review }}</p>
          </div>
        </article>
        {% endfor %}
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
