{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
	<div class="container">
		<!-- ============================ COMPONENT 1 ================================= -->
		<div class="row">
			<h4 class="text-center m-auto mb-6">
				Xem lại đơn đặt hàng của bạn và thanh toán
			</h4>
			<aside class="col-lg-8">
				<div class="card"
                    <h5 class="card-header">Thông tin đơn hàng</h5>
                    <div class="card-body">
                        <p class="card-text mb-0">{{ order.full_name }}</p>
                        <p class="card-text mb-0">{{ order.full_address }}</p>
                        <p class="card-text mb-0">{{ order.ward }}, {{ order.district }}, {{ order.province }}</p>
                        <p class="card-text mb-0">{{ order.email }}</p>
                        <p class="card-text mb-0">{{ order.phone }}</p>
                        {% if order.order_note %}
                            <b>Ghi chú: </b> {{ order.order_note }}
                        {% endif %}
                    </div>
				</div>
				<div class="card">
                    <h5 class="card-header">Phương thức thanh toán</h5>
                    <div class="card-body">
                        <p class="card-text">
                            Nhận tiền mặt sau khi nhận hàng
                        </p>
                    </div>
				</div>
				<div class="card">
                    <h5 class="card-header">Thông tin sản phẩm</h5>
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col" width="150">Số lượng</th>
                                    <th scope="col" width="150">Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.product.images.url }}"
                                                    class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">
                                                    {{ cart_item.product.product_name }}</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{cart_item.quantity}}</label>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">{{ cart_item.sub_total }} VND</var>
                                            <small class="text-muted">{{ cart_item.product.price }} VND mỗi món </small>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
				</div>
			</aside>
			<!-- col.// -->
			<aside class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<dl class="dlist-align">
							<dt>Tổng giá:</dt>
							<dd class="text-right">{{ total }} VND</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Thuế:</dt>
							<dd class="text-right">{{ tax }} VND</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Tổng cộng:</dt>
							<dd class="text-right text-dark b">
								<strong>{{ grand_total }} VND</strong>
							</dd>
						</dl>
						<hr />
						<a href="{% url 'order_complete' %}?order_number={{order.order_number}}" class="btn btn-primary btn-block">Thanh toán</a>
						<a href="{% url 'store' %}" class="btn btn-light btn-block">Tiếp tục mua sắm</a>
					</div>
					<!-- card-body.// -->
				</div>
				<!-- card.// -->
			</aside>
			<!-- col.// -->
		</div>
		<!-- row.// -->
		<!-- ============================ COMPONENT 1 END .// ================================= -->
	</div>
	<!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}